.bg-amarillo{
    background-color: #d7dde4;
}

.floating-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}


